@tailwind base;
@tailwind components;
@tailwind utilities;

/* --- Fix Leaflet map z-index bị đè hoặc đè lên navbar --- */
.leaflet-container {
  z-index: 0 !important;
}

.leaflet-pane,
.leaflet-tile,
.leaflet-overlay-pane,
.leaflet-shadow-pane,
.leaflet-marker-pane,
.leaflet-tooltip-pane,
.leaflet-popup-pane {
  z-index: 0 !important;
}

.leaflet-top,
.leaflet-bottom {
  z-index: 1 !important;
}
